.container{
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-width: 560px;
  min-width: 360px;
  margin: auto;
}
.bill-amount-container{
  display: flex;
  flex-direction: column; 
}
.amount-received-container{
  display: flex;
  flex-direction: column;
}
.notes-table{
  margin: auto;
  
}

